.basics {

  .main {
    vertical-align: middle;

    .name {
      font-size: $header-name-font-size;
      line-height: 1em;
      font-weight: bold;
      display: block;
      margin-left: -$header-name-font-size*0.07;
    }

    .label {
      font-size: 29.5px;//$header-line-font-size;
      line-height: 1em;
      font-weight: lighter;
      display: block;
      margin-left: -$header-line-font-size*0.04;
      margin-top: 12px;
    }
  }

  .side {
    vertical-align: middle;
    padding-left: 0;
    padding-top: 15px;

    .contact {
      list-style-type: none;

      li {
        font-size: $font-size-large;
        line-height: $line-height-3;
      }
    }
  }
}
